* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #419D78;
  --secondary: #009686;
  --darker: #017D6F;
  --scheduled: #D5E2D1;
  --confirmed: #92b78a;
  --concluded: #61b895e6;
  --lock: #9BB0A5;
  --lock-darker: #688877;
  --backgrey: #EEEEEE;
  --danger: #AD2626;
  --danger-hover: #8C1313;
  --warning: #D86F51;
  --text: #303030;
  --absence: #C2C2C2;
  --cancelled: #B6A2A1;
  --past: #e3e3e3;
}

html {
  font-family: 'Poppins';
  font-size: 93.75% ;
  scroll-behavior: smooth !important;
}

body {
  background-color: #FFFFFF;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}


nav {
  position: sticky;
  background: linear-gradient(270deg, var(--primary), var(--secondary));
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: 9;
  /* box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.48); */
}

nav img {
  height: 40px;
  width: auto;
  padding-left: 20px;
}

nav .container {
  width: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .container ul {
  list-style: none;
  display: flex;
}

nav .container ul li {
  position: relative;
  padding: 10px;
  margin: 0 10px;
}

nav .container ul li a {
  padding: 10px 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
}

nav .container ul li.active {
  transition: 300ms ease background-color;
}

nav .container ul li.active a::after {
  left: 0;
  width: 100%;
}

nav .container ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #FFF;
  transition: all 300ms ease-in-out;
}

nav .container ul li a:hover::after {
  left: 0;
  width: 100%;
}

nav .container ul li.active a {
  color: #FFF;
}

.hidden {
  visibility: hidden;
}

/********************************************************* HOME *******************************************************************/

#home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center;
  background: transparent;
  justify-self: center;
  position: relative;
}

.homeContainer {
  display: flex;
  height: calc(100vh - 60px) !important;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* border-left: #000 solid 1px;  */
}

.homeShape {
  clip-path: polygon(0 0, 100% 34%, 100% 0);
  -webkit-clip-path: polygon(0 0, 100% 34%, 100% 0);
  background: linear-gradient(270deg, var(--primary), var(--secondary));
  width: 100%;
  height: 100%;
  position: absolute;
}

.homeLeft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.homeRight{
  width: 90%;
  height: 100%;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


.titleAndImage {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  gap: 2rem;
}

.introText {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.sectionAppear {
  animation-name: homeImage;
  -webkit-animation-name: homeImage;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


@-webkit-keyframes homeImage {
  0% {
    -webkit-transform: rotate(0deg) scale(0.9) skew(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
    opacity: 1;
  }
}

@keyframes homeImage {
  0% {
    -webkit-transform: rotate(0deg) scale(0.9) skew(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
    opacity: 1;
  }
}

.titleAndImage h1 {
  font-size: 3.5rem;
  text-align: left;
  color: var(--primary);
  font-weight: 500;
}

.leftImage {
  flex: 1;
  display: flex;
  justify-content: center;
}

.leftImage img {
  display: block;
  width: auto;
  height: 250px;
}

.leftTitle {
  flex: 1;
}


.homeContainer p:not(#title) {
  font-size: 1.6rem;
  text-align: justify;
  text-indent: 3rem;
  color: var(--primary);
}

.homeContainer span {
  font-weight: bold;
  text-align: justify;
  text-indent: 3rem;
  color: var(--primary);
}

.homeRight img {
  height: auto;
  width: 100%;
  display: block;
  transition: 500ms;
}



/********************************************************* ABOUT *******************************************************************/

#about {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center;
  background: transparent;
  justify-self: center;
  position: relative;
}

.aboutContainer {
  display: flex;
  height: calc(100vh - 60px) !important;
  max-width: 80%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  /* border-left: #000 solid 1px;  */
}

.aboutContent {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  padding: 0 3rem 0 3rem;
}

.aboutTitle {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 300;
}

.aboutLeft {
  height: 100%;
  display: grid;
  grid-template-rows: 5fr 5fr 5fr 1fr;
}

.aboutRight {
  height: 100%;
  display: grid;
  grid-template-rows: 5fr 5fr 5fr 1fr;
}

.aboutSubtitle {
  color: var(--primary);
  font-size: 1.8rem;
  text-align: justify;
  font-weight: 600;
}

.aboutText {
  color: var(--primary);
  text-align: justify;
  font-size: 1.3rem !important;
  font-weight: 400;
  padding-top: 1rem;
  text-indent: 4rem;
}

.aboutText span {
  font-weight: 600;
}

.aboutIcons {
  color: var(--primary);
}

.aboutIconsAndText {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/********************************************************* ABOUT US *******************************************************************/

#aboutUs {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center;
  background: transparent;
  position: relative;
}

.aboutUsContainer {
  display: flex;
  height: calc(100vh - 60px) !important;
  max-width: 80%;
  width: 80%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  /* border-left: #000 solid 1px; 
  border-right: #000 solid 1px;  */
}

.aboutDevs {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  padding: 0 3rem 0 3rem;
}

.aboutDev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(270deg, var(--primary), var(--darker));
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 1rem 4rem;
  flex: 1;
}

.aboutDevProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutUsEntry {
  display: flex;
  flex-direction: column;
}

.aboutUsEntryText {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: justify;
  padding: 0 3rem 0 3rem;
  color: var(--primary);
  text-indent: 4rem;
} 

.aboutUsEntryText span {
  font-weight: 600;
}

.aboutDevsProfilePic img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  resize: none;
  border: 5px solid #FFF;
}

.aboutDevsProfileName {
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFF;
  padding-left: 1rem;
}

.aboutDevTitle {
  color: #FFF;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 2rem;
}

.aboutDevTitle span {
  color: #FFF;
  font-size: 1.7rem;
  font-weight: 600;
}

.aboutDevLinks {
  display: flex;
  margin-top: 3rem;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}

.aboutDevLinks a {
  text-decoration: none;
  color: var(--primary);
}

a.tooltip {
  position:relative;
}

a.tooltip:after {
  background-color:rgba(0, 0, 0, .6);
  color: #FFF;
  box-sizing:border-box;
  content: attr(data-title);
  display:none;
  padding:5px;
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -70px;
  z-index: 3;
  box-shadow: 0 0 2px var(--text);
  border-radius: 10px;
}

a.tooltip:hover:after {
  display: flex;
}

.aboutUsIcons {
  color: #FFF;
}

/********************************************************* IMAGES *******************************************************************/

#images {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

* {box-sizing:border-box}

.imagesContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-left: #000 solid 1px; */
}

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.imagesTitle {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 300;
}

.Containers {
  background: transparent;
}

.Containers img {
  
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}

/* forward & Back buttons */
.back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  background-color: #FFF;
  color: var(--primary);
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  border-right: 1px var(--primary) solid;
  border-top: 1px var(--primary) solid;
  border-bottom: 1px var(--primary) solid;
}


/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
  border-left: 1px var(--primary) solid;
  border-right: none;
}

/*when the user hovers,add a black background with some little opacity */
.back:hover, .forward:hover {
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.30);
}

/* Caption Info */
.Info {
  color: var(--primary);
  font-size: 2rem;
  padding: 10px 14px;
  position: absolute;
  top: -70px;
  width: 100%;
  text-align: center;
}

.Info h4 {
  /* background-color: #FFF; */
  display: inline;
  font-weight: 500;
  padding: 0 10px;
  border-radius: 3px;
  /* box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.30); */

}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: var(--lock);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: var(--darker);
}

.anim {
  animation-name: imageSlide;
  -webkit-animation-name: imageSlide;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes imageSlide {
  0% {
    -webkit-transform: rotate(0deg) scale(0.98) skew(0deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
    opacity: 1;
  }
}

@keyframes imageSlide {
  0% {
    -webkit-transform: rotate(0deg) scale(0.98) skew(0deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
    opacity: 1;
  }
}


/****************************************************** FOOTER *****************************************************************/


footer {
  height: 60px;
  display: flex;
  justify-content: center;
  background: var(--darker);
  width: 100% !important;
  padding: 2rem 4rem;
  position: relative;
}

.appContents {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.appContents p {
  color: #EEEEEE;
  font-size: 1.2rem;
}

.appContents a {
  border-radius: 50%;
  cursor: pointer;
}


.footerApp {
  display: flex;
  justify-content: center;
}

.footerApp img {
  height: 30px;
  width: auto;
}

.footerApp h5 {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 300;
}

.psisgit {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
}

.psisgit p {
  padding-left: 10px;
}

.psisgit:hover {
  cursor: pointer;
}

#links {
  display: flex;
  align-items: center;
}

#links:hover {
  transform: scale(1.05);
  transition: 500ms;
}


/****************************************************** MEDIA QUERES *****************************************************************/

@media (max-width: 1800px) {

  .homeLeft {
    flex: 2
  }

  .homeRight {
    flex: 3 !important;
  }

  .leftTitle h1 {
    font-size: 2.5rem !important;
  }

  .leftImage img {
    display: block;
    width: auto;
    height: 180px;
  }

  .homeContainer p {
    font-size: 1.3rem;
  }

  
  .aboutDevsProfileName {
    font-size: 1.3rem;
  }

  .aboutDev {
    padding: 1rem 3rem;
  }
}

@media (max-width: 1600px) {
  .aboutContainer {
    height: 100% !important;
    max-width: 90%;
    gap: 2rem;
  }

  .aboutUsContainer {
    max-width: 90%;
    gap: 2rem;
    width: 90%;
  }

  .imagesContainer {
    width: 90%;
  }
  
  .slideshow-container {
    width: 80%;
  }

  .aboutDevsProfilePic img {
    width: 180px;
    height: 180px;
  }

  .aboutDevsProfileName {
    font-size: 1.3rem;
  }

  .aboutDev {
    padding: 1rem 2rem;
  }

}

@media (max-width: 1440px) {
  .homeContainer {
    max-width: 90%;
  }

  .slideshow-container {
    width: 90%;
  }

  .footerApp img {
    height: 20px;
    width: auto;
  }
  
  .footerApp h5 {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 300;
  }
  
  .psisgit {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
  }
  
  .psisgit p {
    font-size: 1rem;
    padding-left: 10px;
  }

}


@media (max-width: 1280px) {

  .homeLeft {
    flex: 2
  }

  .homeRight {
    flex: 4 !important;
  }
  .leftTitle h1 {
    font-size: 2.2rem !important;
  }

  .leftImage img {
    display: block;
    width: auto;
    height: 150px;
  }

  .homeContainer p {
    font-size: 1.4rem !important;
  }

  .aboutContainer {
    max-width: 95%;
  }

  .aboutUsContainer {
    max-width: 95%;
    width: 95%;
  }

  .imagesContainer {
    width: 95%;
  }

  .slideshow-container {
    width: 95%;
  }
  
  .Info h4 {
    font-size: 1.5rem;
  }

  .aboutDevs {
    gap: 3rem;
  }

  .aboutDevsProfilePic img {
    width: 140px;
    height: 140px;
  }

  .aboutDevTitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .aboutUsContainer {
    height: 100% !important;
  }

  .aboutDevs {
    flex-direction: column;
    align-items: center;
  }

  .aboutDev{
    width: 60%;
    padding: 1rem 0;
  }
}

@media (max-width: 800px) {
  .aboutDev {

    width: 90%;
  }
}