* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #419D78;
  --secondary: #009686;
  --darker: #017D6F;
  --scheduled: #D5E2D1;
  --confirmed: #92b78a;
  --concluded: #61b895e6;
  --lock: #9BB0A5;
  --lock-darker: #688877;
  --backgrey: #EEEEEE;
  --danger: #AD2626;
  --danger-hover: #8C1313;
  --warning: #D86F51;
  --text: #303030;
  --absence: #C2C2C2;
  --cancelled: #B6A2A1;
  --past: #e3e3e3;
}

html {
  font-family: 'Poppins';
  font-size: 93.75% ;
  scroll-behavior: smooth !important;
}

body {
  background-color: #FFFFFF;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}


section:not(#images) {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center;
  background: transparent;
  justify-self: center;
}


nav {
  position: sticky;
  background: linear-gradient(270deg, var(--primary), var(--secondary));
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: 9;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.48);
}

nav img {
  height: 40px;
  width: auto;
  padding-left: 20px;
}

nav .container {
  width: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .container ul {
  list-style: none;
  display: flex;
}

nav .container ul li {
  position: relative;
  padding: 10px;
  margin: 0 10px;
}

nav .container ul li a {
  padding: 10px 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
}

nav .container ul li.active {
  transition: 300ms ease background-color;
}

nav .container ul li.active a::after {
  left: 0;
  width: 100%;
}

nav .container ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #FFF;
  transition: all 300ms ease-in-out;
}

nav .container ul li a:hover::after {
  left: 0;
  width: 100%;
}

nav .container ul li.active a {
  color: #FFF;
}

/********************************************************* HOME *******************************************************************/

.homeContainer {
  padding-top: 60px;
  display: flex;
  height: calc(100vh - 60px) !important;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.homeLeft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 3;
}

.titleAndImage {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  gap: 2rem;
}

.introText {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.homeAppear {
  animation-name: homeImage;
  -webkit-animation-name: homeImage;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


@-webkit-keyframes homeImage {
  0% {
    -webkit-transform: rotate(0deg) scale(0.9) skew(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
    opacity: 1;
  }
}

@keyframes homeImage {
  0% {
    -webkit-transform: rotate(0deg) scale(0.9) skew(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
    opacity: 1;
  }
}

.titleAndImage h1 {
  font-size: 3.5rem !important;
  text-align: left !important;
  color: var(--primary);
  font-weight: 500;
}

.titleAndImage img {
  height: 250px;
  width: auto;
}

.leftImage {
  flex: 1;
  display: flex;
  justify-content: center;
}

.leftTitle {
  flex: 1;
}

.homeRight{
  width: 90%;
  height: 100%;
  flex: 3;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


.homeContainer p:not(#title) {
  font-size: 1.6rem;
  text-align: justify;
  text-indent: 3rem;
  color: var(--primary);
}

.homeContainer span {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: justify;
  text-indent: 3rem;
  color: var(--primary);
}

.homeContainer, img {
  height: 600px;
  width: auto;
}


.title {
  font-size: 3.2rem;
  padding: 2rem 0;
}

.text {
  font-size: 1.6rem;
  text-align: justify;
  text-indent: 3rem;
}


.homeContainer2 {
  padding-top: 60px; 
  background-color: #000;
  display: flex;
  height: calc(100vh - 60px);
  max-width: 90%;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  gap: 10rem;
}


/********************************************************* IMAGES *******************************************************************/

#images {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

* {box-sizing:border-box}

.imagesContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.imagesTitle {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 300;
}

/* Make the images invisible by default */
.Containers {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.48);

  background: transparent;
}

/* forward & Back buttons */
.back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  background-color: #FFF;
  color: var(--primary);
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.back:hover, .forward:hover {
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.30);
}

/* Caption Info */
.Info {
  color: var(--primary);
  font-size: 2rem;
  padding: 10px 14px;
  position: absolute;
  top: -70px;
  width: 100%;
  text-align: center;
}

.Info h4 {
  /* background-color: #FFF; */
  display: inline;
  font-weight: 500;
  padding: 0 10px;
  border-radius: 3px;
  /* box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.30); */

}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: var(--lock);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: var(--darker);
}

/* Faint animation */
.imageFade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes fade {
  0% {opacity: .5}
  100% {opacity: 2}
}

@keyframes fade {
  0% {opacity: .5}
  100% {opacity: 2}
}

.anim {
  animation-name: cssAnimation;
  -webkit-animation-name: cssAnimation;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes cssAnimation {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
  }
  25% {
    -webkit-transform: rotate(0deg) scale(1.1) skew(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
  }
}

@keyframes cssAnimation {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
  }
  25% {
    -webkit-transform: rotate(0deg) scale(1.1) skew(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
  }
}


/****************************************************** FOOTER *****************************************************************/


.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(270deg, var(--primary), var(--secondary));
  width: 100%;
  padding: 2rem 4rem;
  color: rgb(218, 218, 218);
  font-size: 1.3rem;
  position: relative;
}

.footerInfos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

#categoryTitle {
  font-weight: 700;
  color: rgb(218, 218, 218);
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.footerInfos p {
  text-align: center;
  margin: 5px;
  font-size: 1.3rem;
  color: rgb(218, 218, 218);
}

.university p:not(#categoryTitle) {
  padding: 2px;
} 

.devs ul li {
  list-style: none;
  padding: 5px;
  text-align: center;
}

.devs ul li a {
  color: rgb(218, 218, 218);
  font-size: 1.3rem;
  text-decoration: none;
  position: relative;
  padding: 5px;
}

.devs ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #00E5B0;
  transition: all 300ms ease-in-out;
}

.devs ul li a:hover::after {
  left: 0;
  width: 100%;
}